.app {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(./raspberry.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.input {
  margin-bottom: 70px;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid black;
  font-size: 15px;
  font-family: sans-serif;
  text-align: center;
  height: 40px;
}

.button {
  background-color: #CC3366;
  width: 260px;
  height: 50px;
  border-radius: 35px;
  margin: auto;
  color: white;
  font-size: 15px;
  font-family: sans-serif;
  font-weight: 600;
}

.header {
  margin-bottom: 70px;
  margin: auto;
  font-size: 24px;
  font-family: sans-serif;
}
